<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="project.name">DEMO</Property>
        <Property name="log.path">logs</Property>
        <Property name="log.pattern.file">
            <![CDATA[[LogTimeStamp:%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}][Host:${hostName}][Level:%level][SystemName:${project.name}][ThreadName:%t][LogType:%X{logType}][PgName:%C(%L)] - %m%n]]></Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${log.pattern.file}"/>
        </Console>
        <RollingFile name="ROLLING_FILE" fileName="${log.path}/${project.name}.log"
                     filePattern="${log.path}/historyRunLog/$${date:yyyy-MM}/${project.name}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${log.pattern.file}"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        <RollingFile name="EXCEPTION_ROLLING_FILE" fileName="${log.path}/exception/${project.name}_exception.log"
                     filePattern="${log.path}/exception/$${date:yyyy-MM}/${project.name}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${log.pattern.file}"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING_FILE"/>
            <appender-ref ref="EXCEPTION_ROLLING_FILE"/>
        </Root>
        <Logger name="exception" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="EXCEPTION_ROLLING_FILE"/>
        </Logger>
    </Loggers>
</Configuration>
